<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Simple Chat App</title>
    <script src="https://code.jquery.com/jquery-latest.min.js">
    </script><script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <h1>PB Chat Application</h1>
    </header>

    <div class="chatBody">
      <input id="socketURL" type="hidden" value="<%= process.env.SOCKET_URL %>">
      <section id="setUsername">
        <div id="change_username" class="text-center">
          <input id="username" type="text" />
          <button id="send_username" type="button">Set username</button>
        </div>
        <div id="usernameLabel" class="text-center hidden">
          <label></label>
        </div>
      </section>
      <section id="connectMessage" class="text-center">
        <div>Set username to start chatting</div>
      </section>
      <section id="chatroom" class="hidden">
        <section id="chats"></section>
        <section id="feedback"></section>
      </section>
      <section id="input_zone" class="hidden">
        <form>
          <input id="message" class="vertical-align" type="text" />
          <button id="send_message" class="vertical-align" type="submit">Send</button>
        </form>
      </section>
    </div>

    <script src="chat.js"></script>
  </body>
</html>