<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <title>Simple Chat App</title>
  </head>

  <body class="flex flex-col items-center justify-center w-screen min-h-screen bg-gray-100 text-gray-800 p-10">
    <header>
      <h1 class="text-xl">PB Chat Application</h1>
    </header>

    <div id="loginScreen">
        <input id="socketURL" type="hidden" value="<%= process.env.SOCKET_URL %>">
        <section id="setUsername">
          <div id="change_username" class="text-center">
            <input id="username" type="text" class="mt-1 px-3 py-2 bg-white border border-slate-300"
              placeholder="Set Username" />
            <button id="setUsernameBtn" type="button"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Set username</button>
          </div>
          <div id="usernameLabel" class="font-bold text-center hidden">
            <label></label>
          </div>
        </section>
    </div>

    <div class="flex flex-col flex-grow w-full max-w-xl bg-white shadow-xl rounded-lg overflow-hidden hidden" id="chatroom">
      <div class="flex flex-col flex-grow h-0 p-4 overflow-auto" id="chats">
      </div>
      <section id="feedback"></section>

      <div class="bg-gray-300 p-4">
        <form id="sendMessageForm">
          <input id="message" class="flex items-center h-10 w-full rounded px-3 text-sm" type="text"
            placeholder="Type your message…">
          <div class="sendMessageDiv text-right">
            <button id="sendMessageBtn" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2"
              type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>

    <div id="chatList" class="hidden">
      <section class="flex flex-col justify-center antialiased bg-gray-50 text-gray-600 min-h-screen p-4">
        <div class="h-full">
          <div class="relative mx-auto bg-white shadow-lg rounded-lg">
            <header class="pt-6 pb-4 px-5 border-b border-gray-200">
              <div class="flex justify-between items-center mb-3">
                <div class="flex items-center">
                  <a class="inline-flex items-start mr-3" href="#0">
                    <img class="rounded-full"
                      src="https://res.cloudinary.com/dc6deairt/image/upload/v1638102932/user-48-01_nugblk.jpg" width="48"
                      height="48" alt="Lauren Marsano" />
                  </a>
                  <div class="pr-1">
                    <a class="inline-flex text-gray-800 hover:text-gray-900" href="#0">
                      <h2 class="text-xl leading-snug font-bold">Lauren Marsano</h2>
                    </a>
                    <a class="block text-sm font-medium hover:text-indigo-500" href="#0">@lauren.mars</a>
                  </div>
                </div>
                <div class="relative inline-flex flex-shrink-0">
                  <button class="text-gray-400 hover:text-gray-500 rounded-full focus:ring-0 outline-none focus:outline-none">
                    <span class="sr-only">Settings</span>
                    <svg class="w-4 h-4 fill-current" viewBox="0 0 16 16">
                      <path
                        d="m15.621 7.015-1.8-.451A5.992 5.992 0 0 0 13.13 4.9l.956-1.593a.5.5 0 0 0-.075-.611l-.711-.707a.5.5 0 0 0-.611-.075L11.1 2.87a5.99 5.99 0 0 0-1.664-.69L8.985.379A.5.5 0 0 0 8.5 0h-1a.5.5 0 0 0-.485.379l-.451 1.8A5.992 5.992 0 0 0 4.9 2.87l-1.593-.956a.5.5 0 0 0-.611.075l-.707.711a.5.5 0 0 0-.075.611L2.87 4.9a5.99 5.99 0 0 0-.69 1.664l-1.8.451A.5.5 0 0 0 0 7.5v1a.5.5 0 0 0 .379.485l1.8.451c.145.586.378 1.147.691 1.664l-.956 1.593a.5.5 0 0 0 .075.611l.707.707a.5.5 0 0 0 .611.075L4.9 13.13a5.99 5.99 0 0 0 1.664.69l.451 1.8A.5.5 0 0 0 7.5 16h1a.5.5 0 0 0 .485-.379l.451-1.8a5.99 5.99 0 0 0 1.664-.69l1.593.956a.5.5 0 0 0 .611-.075l.707-.707a.5.5 0 0 0 .075-.611L13.13 11.1a5.99 5.99 0 0 0 .69-1.664l1.8-.451A.5.5 0 0 0 16 8.5v-1a.5.5 0 0 0-.379-.485ZM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z" />
                    </svg>
                  </button>
                </div>
              </div>
            </header>
            <div class="py-3 px-5">
              <h3 class="text-xs font-semibold uppercase text-gray-400 mb-1">Chats</h3>
              <div class="divide-y divide-gray-200">
                <button class="w-full text-left py-2 focus:outline-none focus-visible:bg-indigo-50 chatListItem" id="globalRoom">
                  <div class="flex items-center">
                    <img class="rounded-full items-start flex-shrink-0 mr-3"
                      src="https://res.cloudinary.com/dc6deairt/image/upload/v1638102932/user-32-03_uzwykl.jpg" width="32"
                      height="32" alt="Patrick Friedman" />
                    <div>
                      <h4 class="text-sm font-semibold text-gray-900">Global Room</h4>
                      <div class="text-[13px]">Everyone is welcome here. Click here</div>
                    </div>
                  </div>
                </button>
              </div>
            <button
              class="absolute bottom-5 right-5 inline-flex items-center text-sm font-medium text-white bg-indigo-500 hover:bg-indigo-600 rounded-full text-center px-3 py-2 shadow-lg focus:outline-none focus-visible:ring-2">
              <svg class="w-3 h-3 fill-current text-indigo-300 flex-shrink-0 mr-2" viewBox="0 0 12 12">
                <path
                  d="M11.866.146a.5.5 0 0 0-.437-.139c-.26.044-6.393 1.1-8.2 2.913a4.145 4.145 0 0 0-.617 5.062L.305 10.293a1 1 0 1 0 1.414 1.414L7.426 6l-2 3.923c.242.048.487.074.733.077a4.122 4.122 0 0 0 2.933-1.215c1.81-1.809 2.87-7.94 2.913-8.2a.5.5 0 0 0-.139-.439Z" />
              </svg>
              <span>New Chat</span>
            </button>
          </div>
        </div>
      </section>
    </div>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="chat.js"></script>
  </body>
</html>