<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <title>Simple Chat App</title>
  </head>

  <body class="flex flex-col items-center justify-center w-screen min-h-screen bg-gray-100 text-gray-800 p-10">
    <header>
      <h1 class="text-xl">PB Chat Application</h1>
    </header>

    <input id="socketURL" type="hidden" value="<%= process.env.SOCKET_URL %>">
    <section id="setUsername">
      <div id="change_username" class="text-center">
        <input id="username" type="text" class="mt-1 px-3 py-2 bg-white border border-slate-300" placeholder="Set Username" />
        <button id="setUsernameBtn" type="button" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Set username</button>
      </div>
      <div id="usernameLabel" class="font-bold text-center hidden">
        <label></label>
      </div>
    </section>

    <div class="flex flex-col flex-grow w-full max-w-xl bg-white shadow-xl rounded-lg overflow-hidden hidden" id="chatroom">
      <div class="flex flex-col flex-grow h-0 p-4 overflow-auto" id="chats">
      </div>
      <section id="feedback"></section>

      <div class="bg-gray-300 p-4">
        <form id="sendMessageForm">
          <input id="message" class="flex items-center h-10 w-full rounded px-3 text-sm" type="text"
            placeholder="Type your message…">
          <div class="sendMessageDiv text-right">
            <button id="sendMessageBtn" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2"
              type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="chat.js"></script>
  </body>
</html>