@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
    margin: 20px 0;
}

.text-center {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

.hidden {
    display: none;
}

#connectMessage {
    margin: 35px 0px;
    padding: 10px;
    background: #48aa12;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.systemMessage {
    font-style: italic;
    text-align: center;
}

.chatBody {
    height: 100%;
    width: 50%;
    margin : 0 auto;
}

div#change_username {
    margin-bottom:10px;
}

section#chatroom {
    border: 2px outset #a29bb7;
    height: 70vh;
    overflow: auto;
    border-radius: 10px;
    padding: 10px;
}

section#input_zone {
    text-align: center;
    margin-top: 10px;
}

input#username {
    font-family: 'Comfortaa', sans-serif;
}

input#message {
    display: inline-block;
    width: 80%;
    height: 70%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 18%;
}

#chats p.self {
    text-align: right;
}

p.message {
    display: inline-block;
    margin: 10px 0px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    font-family: 'Comfortaa', sans-serif;
    padding: 10px;
    background-color: #d0e2e7;
}

p.selfSend {
    text-align: right;
    background-color: #cd85ec;
}

#usernameLabel {
    margin-bottom: 10px;
}

#usernameLabel label {
    font-size: 18px;
    font-weight: 600;
}